.HeroSvgBt {
  position: absolute;
  bottom: -11rem;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
}

.HeroSvgTp {
  position: absolute;
  inset: -0.5rem 0 0 -1.8rem;
  pointer-events: none;
}

.Htop {
  animation-duration: 750ms;
}

.Hbottom {
  animation-duration: 2s;
}

.HeroThinBt {
  animation-delay: 300ms;
}

.HThinTp {
  animation-delay: 500ms;
}

#HeroThickTp {
  animation-delay: 250ms;
}

/* TODO: ADD RANDOM TIME AND DELAY */
.vector {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation-fill-mode: forwards;
  animation-name: drawLine;
}

.star {
  filter: drop-shadow(0 0 2px white);
  animation: appear 3500ms infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes drawLine {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 2;
  }
}
