.project {
  opacity: 0;
  scale: 30%;
  animation: pop 500ms ease-out forwards;
}

@keyframes pop {
  30% {
    opacity: 1;
  }
  70% {
    scale: 105%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}
