.stickyContainer {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  max-height: calc(100dvh - 4.5rem);
  gap: 0.75rem;
}

.description {
  overflow-y: scroll;
  pointer-events: all;
}

.title {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 5px;
  cursor: pointer;
  margin: 0.5rem;
  pointer-events: auto;
  font-size: 0.85rem;
}

.selected {
  border: #dadfe2 solid 2px;
  border-radius: 5px;
  background-color: rgba(7, 26, 69, 0.5);
  padding-block: 0.75em;
}
.selected h3 {
  font-weight: 500;
  font-size: 1.25rem;
}

.selected .svgWrapper {
  animation: popGrow 300ms linear;
  font-size: 1rem;
}

.svgWrapper {
  align-content: center;
  vertical-align: middle;
  /*width: 2rem;*/
  transform: scale(1);
  font-size: 0.7rem;
}

.svgWrapper > svg {
  margin: auto;
}

.project {
  margin-inline: auto;
  width: 97%;
}

.sectionBody {
  display: grid;
  gap: 0.75rem;
}

/*

.sectionBody {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.projectWrapper {
  position: sticky;
  width: 40%;
}

.project {
  position: absolute;
  transform-origin: top left;
  transition: opacity 200ms, transform 500ms, inset 500ms;
  border-radius: 0.5em;
  object-fit: cover;
}

.project:has(~ .selectedProject) {
  opacity: 0;
  inset: -10px 0 0 -10px;
}

.selectedProject {
  inset: 0;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.356);
}

.selectedProject ~ .project {
  inset: 10px 0 0 10px;
}
*/

@keyframes popGrow {
  0%,
  70%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
