.titleRow {
  margin: 1rem;
  font-size: 1rem;
  pointer-events: auto;
  cursor: pointer;
}

.titleRow div {
  margin: 0 1rem;
}

.selected {
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 3px;
  padding: 1rem 0;
}

.svgWrapper {
  align-content: center;
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
}

.svgWrapper > svg {
  margin: auto;
}

.svgWrapper + h3 {
  display: inline-block;
}

.projectWrapper {
  width: 40%;
  position: sticky;
}

.project {
  border-radius: 0.5em;
  object-fit: cover;
  position: absolute;
  transform-origin: top left;
  transition: opacity 200ms, transform 500ms, inset 500ms;
}

.project:has(~ .selectedProject) {
  inset: -10px 0 0 -10px;
  opacity: 0;
}

.selectedProject {
  inset: 0;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.356);
}

.selectedProject ~ .project {
  inset: 10px 0 0 10px;
}
