.stickyContainer {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  gap: 0.75rem;
  max-height: calc(100svh - 4.5rem);
}

.stickyContainer > div:last-child {
  overflow-y: auto;
  pointer-events: all;
}

.sectionBody {
  display: grid;
  gap: 0.75rem;
}

.sectionBody li {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 5px;
  cursor: pointer;
  margin: 0.5rem;
  padding-inline: 0.5rem;
  pointer-events: auto;
  font-size: 0.85rem;
}

.selected {
  border: #dadfe2 solid 2px;
  border-radius: 5px;
  background-color: rgba(7, 26, 69, 0.5);
  padding-block: 0.75em;
}

.selected h3 {
  font-weight: 500;
  font-size: 1.25rem;
}

.selected .svgWrapper {
  animation: popGrow 300ms linear;
  font-size: 1rem;
}

.svgWrapper {
  align-content: center;
  vertical-align: middle;
  transform: scale(1);
  font-size: 0.6rem;
}

.svgWrapper > svg {
  margin: auto;
}

.project {
  position: relative;
  transform-origin: top left;
  transition: opacity 200ms, transform 500ms, inset 500ms;
  margin-inline: auto;
  width: fit-content;
  height: fit-content;

  pointer-events: auto;
  position: absolute;
  inset: 0;
}

.project > div {
  position: absolute;
  inset: 0;
}

.project > img {
  object-fit: cover;
  border-radius: 0.5em;
}

.project:has(~ .selectedProject) {
  opacity: 0;
}

.selectedProject {
  position: relative;
}

.selectedProject > img {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.356);
}

@media screen and (width > 1000px) {
  .sectionBody {
    grid-template-columns: 20rem auto;
  }

  .description {
    display: none;
  }

  .project:has(~ .selectedProject) {
    opacity: 0;
  }

  .selectedProject ~ .project {
    inset: 10px 0 0 20px;
  }

  .selectedProject:hover > div {
    background-color: rgba(7, 26, 69, 0.8);
    backdrop-filter: blur(5px);
  }
}

@keyframes popGrow {
  0%,
  70%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
