@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

main {
  margin-bottom: 3rem;
  padding: 1rem;
}

.section {
  margin: auto;
  max-width: 2000px;
  height: fit-content;
}

h1 {
  font-weight: 600;
  font-size: 3.75rem;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

/* UTILITY */
.rounded {
  border-radius: 25px;
}

.initHidden {
  opacity: 0;
}

.scrollable {
  overflow-y: auto;
  pointer-events: auto;
}

#hero {
  align-content: center;
  min-height: 100vh;
  text-align: center;
  margin-bottom: 15rem;
  position: relative;
  h1 {
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: clamp(2.5rem, calc(3vw + 1rem), 10rem);
  }
  h2 {
    font-size: clamp(1.5rem, calc(1.5vw + 1rem), 5rem);
  }
}

#about {
  display: grid;
  align-items: center;
  gap: 4rem;
  > div {
    margin: auto;
    max-width: 72rem;

    > svg {
      margin: auto;
    }
  }

  div div {
    font-size: 1.2rem;
    line-height: 150%;
  }

  p {
    margin-top: 1rem;
    text-wrap: pretty;
  }
  p:first-of-type {
    margin-top: 0.25rem;
  }

  a {
    margin-top: 1rem;
    padding: 0 0 0 0.75rem;
    pointer-events: auto;
  }
}

.social svg {
  transform: scale(1);
  transition: transform 500ms;
}

.social:hover svg {
  transform: scale(1.2);
}

@media screen and (width > 1500px) {
  main {
    margin-bottom: 0;
  }

  #about {
    grid-template-columns: 58% 45%;
    justify-content: space-around;
    padding-block: 10rem 4rem;

    > div > svg {
      margin: 0;
    }

    .aboutText {
      font-weight: normal;
      font-size: 1.35rem;
      line-height: 165%;
      p {
        margin-bottom: 2rem;
      }
    }

    a {
      margin-top: 2rem;
    }
  }

  .marginContent {
    margin-top: 3rem;
    margin-left: 3.25rem;
  }
}
