@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink {
  @apply uppercase tracking-wider  text-center;
  width: 8em;
}

.navLink:hover::after {
  background-color: #dadfe2;
  border-radius: 10px;
  width: 100%;
  height: 3px;
  transform: scaleX(1);
  transition: transform 0.5s ease-out;
}

.navLink::after {
  content: "";
  display: block;
  transform: scaleX(0);
}

.bg-blur {
  @apply bg-[#243c71]/75 text-[#dadfe2] rounded-xl;

  backdrop-filter: blur(10px);
}

.contact-card {
  @apply m-8;
  height: 95%;
}

.icon-socials {
  @apply text-4xl text-[#dadfe2] transition-colors ease-in-out duration-150 hover:text-[#9eadb9];
}
