@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
}
/*
.navLink {
  @apply uppercase tracking-wider  text-center;
  width: 8rem;
}

.navLink a {
  display: block;
  width: 100%;
}

.navLink:hover::after {
  transform: scaleX(1);
  transition: transform 400ms ease-out;
}

.navLink::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #dadfe2;

  transform: scaleX(0);
}
*/
.section {
  margin: 1rem;
  min-height: 100vh;
  height: fit-content;
  scroll-snap-align: start;
}
/*
#hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  position: relative;
  text-align: center;
  h1 {
    font-size: clamp(2.5rem, calc(2.5vw + 1rem), 10rem);
  }
  h2 {
    font-size: clamp(1.5rem, calc(1vw + 1rem), 5rem);
  }
}

#Hero-Thick {
  stroke-dasharray: 4405;
  stroke-dashoffset: 4405;
  animation: drawLine 2s ease-in-out forwards;
}

#Hero-Thin {
  stroke-dasharray: 4405;
  stroke-dashoffset: 4405;

  animation: drawLine 2s ease-in-out forwards;
  animation-delay: 250ms;
}

#Thin-vector-top {
  stroke-dasharray: 500;
  stroke-dashoffset: 490;
  animation: drawLineTop 750ms ease-in-out forwards;
  animation-delay: 500ms;
}

#Thick-vector-top {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: drawLineTop 750ms ease-in-out forwards;
  animation-delay: 250ms;
}

@keyframes drawLine {
  0% {
    stroke-dashoffset: 4405;
  }
  100% {
    stroke-dashoffset: 8800;
  }
}

@keyframes drawLineTop {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
*/

#hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  position: relative;
  text-align: center;
  h1 {
    font-size: clamp(2.5rem, calc(2.5vw + 1rem), 10rem);
  }
  h2 {
    font-size: clamp(1.5rem, calc(1vw + 1rem), 5rem);
  }
}

#about {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    font-weight: 600;
    font-size: 3.75rem;
  }

  div {
    font-size: 1.2rem;
    line-height: 150%;
    text-align: justify;
    margin: auto;
  }

  > svg {
    width: 100vw;
  }

  p {
    margin-top: 2.5rem;
  }
}

#projects {
  h1 {
    font-weight: 600;
    font-size: 3.75rem;
    margin-top: 1.5rem;
    margin-bottom: -1.5rem;
  }
}

/*
#about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15% 13rem 0px 13rem;
}

@media screen (max-width: 768px) {
}
*/
