@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.section {
  margin: 1rem;
  height: fit-content;
  scroll-snap-align: start;
}

h1 {
  font-weight: 600;
  font-size: 3.75rem;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

/*
#Hero-Thick {
  stroke-dasharray: 4405;
  stroke-dashoffset: 4405;
  animation: drawLine 2s ease-in-out forwards;
}

#Hero-Thin {
  stroke-dasharray: 4405;
  stroke-dashoffset: 4405;

  animation: drawLine 2s ease-in-out forwards;
  animation-delay: 250ms;
}

#Thin-vector-top {
  stroke-dasharray: 500;
  stroke-dashoffset: 490;
  animation: drawLineTop 750ms ease-in-out forwards;
  animation-delay: 500ms;
}

#Thick-vector-top {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: drawLineTop 750ms ease-in-out forwards;
  animation-delay: 250ms;
}

@keyframes drawLine {
  0% {
    stroke-dashoffset: 4405;
  }
  100% {
    stroke-dashoffset: 8800;
  }
}

@keyframes drawLineTop {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
*/

#hero {
  align-content: center;
  text-align: center;
  min-height: 100vh;
  h1 {
    font-weight: normal;
    font-size: clamp(2.5rem, calc(2.5vw + 1rem), 10rem);
    margin-bottom: 1rem;
  }
  h2 {
    font-size: clamp(1.5rem, calc(1vw + 1rem), 5rem);
  }
}

#about {
  display: grid;
  align-items: center;

  gap: 2rem;

  div div {
    font-size: 1.2rem;
    line-height: 150%;
  }

  p {
    margin-top: 1rem;
    text-wrap: pretty;
  }
  p:first-of-type {
    margin-top: 0.25rem;
  }

  a {
    margin-top: 1rem;
    padding: 0 0 0 0.75rem;
    pointer-events: auto;
  }
}
main {
  margin-bottom: 3rem;
}
@media screen and (width > 1050px) {
  #about {
    grid-template-columns: 1fr 1fr;
  }

  main {
    margin-bottom: 0;
  }
}
